@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');

//Fonts
$mainFont: 'Manrope', sans-serif;

//Colors
$buttonColor: #f4e041;
$hoverButtonColor: #ffe302;
$backgroundColor: #f8f8f8;
$disabledButtonColor: #b4b4b4;
